#############
#  DOTA 2
#############

*.vpk
*.vpcf_c
*.vsnd_c
*.vsndevts_c
*.vmat_c
*.vmesh_c
*.vanim_c
*.vagrp_c
*.vmdl_c
*.bin
*.vtex_c
*.orig
*.vxml_c
*.vcss_c
game/hunter_v_hunted/panorama/scripts/custom_game/barebones_hud_base.vjs_c
*vxml_c
*.vjs_c
*.vcss_c
game/hunter_v_hunted/scripts/vscripts/statcollection/settings.kv
workshop/video/*
D2Modkit/*
game/hunter_v_hunted/panorama_debugger.cfg