@define TotalLength: 40s;
@define TimingFunc: linear;
@define IterationCount: 1;
@define AnimationDelay: 0s;

.AddonLoadingRoot
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#TitlePanel
{
  horizontal-align: left;
  vertical-align: bottom;
  margin-bottom: 150px;
  margin-left: 100px;
  flow-children: right;
}

#AddonTitle
{
  margin-bottom: -15px;
  vertical-align: center;
  text-transform: uppercase;
  font-size: 80px;
  color: #cccccc;
  text-shadow: 2px 2px 2px #000000;
}

.SeqImg
{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#CustomBg
{

    overflow: clip;
  animation-name: gamemode_anim;
  animation-delay: AnimationDelay;
  animation-duration: TotalLength;
  animation-timing-function: TimingFunc;
  animation-iteration-count: IterationCount;
}

#gamemode
{
  margin-left: 160px;
  /*margin-bottom: 0px;*/
  
}

@keyframes 'gamemode_anim'
{
  0% {
    transform: translate3d(-100%, 0, 0) rotate3d(1, 1, 1, -120deg);
  }

  20% {
  	pre-transform-scale2d: 2.0;
   }

  100% {
  	pre-transform-scale2d: 3.0;
  }
}