#LogoContainer
{
    horizontal-align: center;
    width:100%;
    height:200px;
}

.BaseHud
{
    width:100%;
    height:100%;
    flow-children:down;
}

.HVH_Logo
{
    margin-top: -21px;
    margin-left: 700px;
    horizontal-align: center;
    vertical-align: top;
    transition-property: opacity;
    transition-duration: 1.0s;
    transition-timing-function: linear;
    opacity:0;
}

.AspectRatio4x3 .HVH_Logo,
.AspectRatio5x4 .HVH_Logo
{
    margin-left: 600px;
}

.HVH_Hourglass
{
    width: 100px;
    height: 100px;
    horizontal-align: right;
    margin-top: 60px;
    margin-right: 6px;
    opacity: 1;
    transform: rotateZ(0deg);
    transition-property: transform, opacity;
    transition-duration: 1.0s;
    transition-timing-function: linear;
}

.Rotate
{
    transform: rotateZ(180deg);
    opacity: 0;
}


#HVH_BonusTimeSpawner
{
    horizontal-align:center;
    height: 160px;
    width: 230px;
}

.HVH_BonusTime
{
    horizontal-align:center;   
    margin-top: 70px;
    margin-right: 0px;
/*    margin-right:  125px;*/    
    font-size: 50px;
    font-family: "Radiance";
    text-shadow: 4px 4px 4px #121212;
    opacity: 0;
    transform: scaleX(0.1) scaleY(0.1) translateY( -100px );
    transition-property: transform, opacity;
    transition-duration: 0.6s;
    transition-timing-function: linear;
}

.PopBonusTime
{
    visibility: visible;
    opacity: 1;
    transform: scaleX(1) scaleY(1) translateY( 0px );
}

.MakeVisible
{
    visibility: visible;
    opacity: 1;
}