.HVHGameInfo
{
    width:95%;
    flow-children: down;
}
 
Label
{
    line-height: 21px; /* necessary to prevent "..." in Chinese */
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: left;
    margin-top:-20px;
    width:95%;
}

#TitleName
{
    color: #cccccc;
    font-size: 44px;
}

#ObjectiveDescription
{
}

#CyclesText,
#HoundText,
#ItemsText
{
    width: 50%;
}

.Header
{
	font-size: 24px;
    font-weight: bold;
	margin-top: 18px;
	text-transform: uppercase;
}

#ObjectiveHeader
{
	margin-top: 8px;
}

#HowToPlayHeader
{
    margin-bottom: -16px;
}

#CyclesRow
{
    height:192px;
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 8px;
}

#CyclesText
{
    height:100%;
    margin-top: 0px;
    margin-right: 12px;
}

#CyclesImage
{
    width: 256px;
    height: 192px;
    margin-left: 0px;
}

#HoundRow
{
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 8px;
}

#HoundImage
{
    width: 180px;
    height: 192px;
    margin-right: 36px; 
    margin-left: 18px;      
}

#HoundText
{
    height:100%;    
    margin-top: 0px;
    margin-left: 12px;
}

#ItemsRow
{
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 8px;
}

#ItemsImage
{
    width: 256px;
    height: 192px;
    margin-left: 0px;   
}

#ItemsText
{
    height:100%;    
    margin-top: 0px;
    margin-right: 12px;
}



#PlayingSnipersHeader
{

}

#PlayingSnipersRow
{
    margin-top: 8px;
    margin-right: 24px;    
}

#PlayingSnipersTextContainer
{
    flow-children: down; 
    width: 40%;
    margin-left: 0px;
    margin-right: 12px;
}

.PlayingSnipersText
{
    margin-top: 18px;
}

#PlayingSnipersImage
{
    width: 312px;
    height: 376px;
}



#PlayingNSHeader
{

}

#PlayingNSRow
{
    margin-top: 12px;
    margin-right: 0px; 
    margin-left: -16px;
}

#PlayingNSTextContainer
{
    flow-children: down; 
    width: 55%;
    margin-top: -16px;
}

.PlayingNSText
{
    margin-top: 18px;
}

#PlayingNSImage
{
    width: 213px;
    height: 282px;
    margin-top: 48px;
    margin-right: 16px;
}


#PhoenixImage
{
    margin-top: 16px;
    margin-left: -20px;
}

#PhoenixHeader
{
    margin-top: 18px;
}

#PhoenixRow
{
    margin-top: 12px;
    width: 92%;
}

#PhoenixTextContainer
{
    flow-children: down; 
    margin-top: -16px;
}

.PhoenixText
{
    margin-top: 18px;
}

#PhoenixRowInterior
{

}

#PhoenixTextContainerHalf
{
    flow-children: down; 
    width: 50%;
    margin-top: -16px;
    margin-right: 12px;
}

#PhoenixEggImage
{
    margin-top: -6px;
}



#TipsHeader
{
	margin-top: 0px;
}

#TipsRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 0px;
}

.TipText
{
	margin-left: 16px;
    margin-top: 16px;
}

.InfoRow
{
    flow-children: right;
    width: 100%;
}

Label .unit,
Label .ability,
Label .item
{
    color: #cccccc;
    font-weight: bold;
}

Label .night
{
    color: #99CCFF;

}

Label .day
{
    color: #fcaf3d;

}

.PrecacheHacks
{
    opacity: 0.0;
}